<h2>Hello this is the INDEX page of {{name}} !</h2>
<!-- we don't have to put '/public/images/name-opf-image.jpg' since public
    is already registered for all static files (stylesheets, images, etc.) -->
<img src="/images/ironhack-logo-white.jpg" alt="ironhack logo" width="150" />

<ol>
  {{#if adult}}
    <div>It's great you want to have a server</div>
  {{else}}
    <div>You are too young to have your own server</div>
  {{/if}}

  <li>Test LI</li>
  {{#each hobbies}}
    <li>
      {{name}}
    </li>
  {{/each}}
</ol>

<a href="/about"> Go to about page </a>